nav>ul li {
    text-transform: uppercase;
    font-weight: 700;
    list-style: none;
    display: inline;
    padding: 30px;
}

nav>ul>li a {
    text-decoration: none;
}


.link-wewnetrzny#pierwszy {
    color: brown;
}

.link-wewnetrzny#drugi {
    color: blueviolet;
}

.link-wewnetrzny#trzeci {
    color: yellow;
}

.link-wewnetrzny#czwarty {
    color: green;
}

